* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("fonts/raleway_bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("fonts/Montserrat-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #b0c4de;
  color: #000000;
  font-size: 16px;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}

p {
  line-height: 1.8;
}

img {
  display: block;
}

.page-header {
  background-color: #ffffff;
}

.page-hidder-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 2 rem 30px;
}

.page-header-nav {
  min-height: 40px;
}

.logo {
  display: inline-block;
  margin: 3rem;
  margin-bottom: 1rem;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.logo_name {
  display: inline-block;
}

.name {
  font-weight: 900;
  font-size: 1.5rem;
}

.text {
  font-weight: 400;
  font-size: 1.1rem;
}

.site-navigation {
  display: inline-block;
  text-align: left;
}

.site-navigation-item {
  display: inline;
}

.site-navigation-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.site-navigation-link:hover {
  border-radius: 3rem;
  background-color: #0050ff;
  color: #ffffff;
}

.site-navigation-link:active {
  background-color: transparent;
  border: 2px solid#0050ff;
  color: #000000;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 2rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-navigation-link::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  right: 0;
  height: 3px;
  bottom: 5px;
}

.site-navigation-link:hover::before {
  width: 100%;
  left: 0;
}

section {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
